<div class="example-container mat-elevation-z8">
  <table
    mat-table
    matSort
    (matSortChange)="sortData($event)"
    [dataSource]="sortedData"
  >
    <ng-container matColumnDef="country_name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country_name }}</td>
    </ng-container>

    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.cases }}</td>
    </ng-container>

    <ng-container matColumnDef="new_cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>New Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.new_cases }}</td>
    </ng-container>

    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Deaths</th>
      <td mat-cell *matCellDef="let element">{{ element.deaths }}</td>
    </ng-container>

    <ng-container matColumnDef="new_deaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>New Deaths</th>
      <td mat-cell *matCellDef="let element">{{ element.new_deaths }}</td>
    </ng-container>

    <ng-container matColumnDef="total_recovered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Recovered</th>
      <td mat-cell *matCellDef="let element">{{ element.total_recovered }}</td>
    </ng-container>

    <ng-container matColumnDef="active_cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.active_cases }}</td>
    </ng-container>

    <ng-container matColumnDef="serious_critical">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Serious, Critical
      </th>
      <td mat-cell *matCellDef="let element">{{ element.serious_critical }}</td>
    </ng-container>

    <ng-container matColumnDef="total_cases_per_1m_population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Total Cases/1M Pop
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.total_cases_per_1m_population }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="center">
    <mat-progress-spinner mode="indeterminate" *ngIf="dataLoading">
    </mat-progress-spinner>
  </div>
</div>
