<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="country_name" sticky>
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country_name }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef>Total Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.cases }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="new_cases">
      <th mat-header-cell *matHeaderCellDef>New Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.new_cases }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef>Total Deaths</th>
      <td mat-cell *matCellDef="let element">{{ element.deaths }}</td>
    </ng-container>

    <ng-container matColumnDef="new_deaths">
      <th mat-header-cell *matHeaderCellDef>New Deaths</th>
      <td mat-cell *matCellDef="let element">{{ element.new_deaths }}</td>
    </ng-container>

    <ng-container matColumnDef="total_recovered">
      <th mat-header-cell *matHeaderCellDef>Total Recovered</th>
      <td mat-cell *matCellDef="let element">{{ element.total_recovered }}</td>
    </ng-container>

    <ng-container matColumnDef="active_cases">
      <th mat-header-cell *matHeaderCellDef>Active Cases</th>
      <td mat-cell *matCellDef="let element">{{ element.active_cases }}</td>
    </ng-container>

    <ng-container matColumnDef="serious_critical">
      <th mat-header-cell *matHeaderCellDef>Serious, Critical</th>
      <td mat-cell *matCellDef="let element">{{ element.serious_critical }}</td>
    </ng-container>

    <ng-container matColumnDef="total_cases_per_1m_population">
      <th mat-header-cell *matHeaderCellDef>Total Cases/1M Pop</th>
      <td mat-cell *matCellDef="let element">
        {{ element.total_cases_per_1m_population }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
