.example-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.newcases {
  font-weight: bold;
  width: 5%;
  background-color: #ffeeaa;
  text-align: center;
}
.globalTdCss {
  font-weight: bold;
  text-align: center;
  width: 5%;
}
.nameCss {
  font-weight: bold;
  width: 20%;
}
.deaths {
  font-weight: bold;
  width: 5%;
  background-color: red;
  text-align: center;
  color: white;
}
.totalRecovered {
  font-weight: bold;
  width: 5%;
  text-align: center;
}
mat-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}
